<style type="text/css">
            
            body{
                margin:0;
                padding:0;
            }
            
            #topbar{
                position:static;
                margin:0 auto;
                width:500;
                height:50;
                }
            
            .topbar-section{
                float:left;
                padding:4;
                border-left:2px grey solid;
                height:100%;
            }
            .topbar-section:hover{
                background-color:deepskyblue
            }
            .topbar-text{
                float:left;
                position:relative;
                top:30%
            }
            #topbar-selected{
                background-color:deepskyblue;
                
            }
            
            #logo{
                width:10%;
                margin-top:5;
                height:100%;
                float:left;
            }
            
            #searchbar{
                float:left;
                padding:4;
                border-left:2px grey solid;
                height:100%;
            }
            
            #titlebar{
                height=100;
                width=100%;
                background-color: deepskyblue;
                margin-top:0;
                float:none;
                padding:5;
                position:relative;
                    top: -10;
            }
        
        </style>