
//////////////////////////////////////////////////////////////////////////
// LOGO
//////////////////////////////////////////////////////////////////////////
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}



//////////////////////////////////////////////////////////////////////////
// Search
//////////////////////////////////////////////////////////////////////////
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    flex: 0 0 100%;
    order: 1;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border-radius: 100px;
    border: none;
    padding: .7rem 2rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);

      @media only screen and (max-width: $bp-smallest) {
        box-shadow:none;
        width: 90%;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);

    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-2);
  }
}


//////////////////////////////////////////////////////////////////////////
// USER NAVIGATION
//////////////////////////////////////////////////////////////////////////
.user-nav {
  display: flex;
  align-items: center;

  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);

  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

//////////////////////////////////////////////////////////////////////////
// SIDE NAVIGATION
//////////////////////////////////////////////////////////////////////////
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child){
      margin-bottom: .5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
      padding: 0 2rem;
    }
  }

  &__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .3s, width .4s cubic-bezier(1,0,0,1) .3s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-medium) {
      margin: 0;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.legal {
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
  font-size: 1.2rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

//////////////////////////////////////////////////////////////////////////
// GALLERY
//////////////////////////////////////////////////////////////////////////
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

//////////////////////////////////////////////////////////////////////////
// HOTEL OVERVIEW
//////////////////////////////////////////////////////////////////////////
.overview {
  display: flex;
  border-bottom: var(--color-grey-light-2) solid 2px;
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 2px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }

  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: (var(--color-primary));
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location{
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }


  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////////
// INLINE BUTTON
//////////////////////////////////////////////////////////////////////////
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;

    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0%, 100%{
    transform: scale(1);
    box-shadow: none;
  }

  50%{
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.5);
  }

}

//////////////////////////////////////////////////////////////////////////
// PARAGRAPH
//////////////////////////////////////////////////////////////////////////
.paragraph {
  padding: 2rem;
}

.paragraph:not(:last-of-type){
  margin-bottom: 2rem;
}

//////////////////////////////////////////////////////////////////////////
// LIST
//////////////////////////////////////////////////////////////////////////
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 2px solid var(--color-grey-light-2);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: .7rem;

    //old browsers
    background-image: url("../img/SVG/chevron-thin-right.svg");
    background-size: cover;

    //new browsers
    @supports (-webkit-mask-image:url("../img/SVG/chevron-thin-right.svg")) {
      background-image: none;
      background-color: var(--color-primary);
      -webkit-mask-image: url("../img/SVG/chevron-thin-right.svg");
      -webkit-mask-size: cover;
    }
  }
}

//////////////////////////////////////////////////////////////////////////
// RECOMMEND
//////////////////////////////////////////////////////////////////////////
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;

    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    border: #fff 3px solid;

    &:not(:last-child){
      margin-right: -2rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////////
// REVIEW
//////////////////////////////////////////////////////////////////////////
.review {
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  box-shadow:  0 2rem 5rem rgba(0,0,0,.1);
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 2;
  }

  &__user {
    display: flex;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 1.2rem;
  }

  &__user-name {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__user-date {
    color: var(--color-grey-dark-3);
    font-size: 1rem;
  }

  &__rating {
    font-size: 2rem;
    font-weight: 100;
    background-color: var(--color-primary);
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 50%;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -1rem;
    left: 1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

//////////////////////////////////////////////////////////////////////////
// CTA
//////////////////////////////////////////////////////////////////////////
.cta {
  padding:3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__button {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;

    &--visible{
      display: inline-block;
      padding: 2rem 7.5rem;
      transition: all .2s;
      height: 100%;
      width: 100%;
    }

    &--invisible {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -100%;
      padding: 2rem 7.5rem;
      height: 100%;
      width: 100%;
      transition:  all .2s;
    }

    &:hover {
      box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
      transform: translateY(-10%) scale(1.05);
    }

    &:hover &--visible {
        transform: translateY(100%);
    }

    &:hover  &--invisible {
        top: 0;
    }

    &:focus {
      outline: none;
    }

  }
}