@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//MEDIA QUERIES

// 0 - 600      : phone
// 600 - 900    : Tablet (portrait)
// 900 - 1200   : Tablet (landscape)
// 1200 - 1800  : Desktop (normal styles)
// 1800+        : Big Desktop

/*
$breakpoint arguments:

- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content
    }
    // 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content
    }
    // 900 px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content
    }
    // 1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content
    }
    //1800px
  }
}