//COLORS
$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;

$color-light-orange: #ffb900;
$color-dark-orange: #ff7730;

$color-light-blue: #2998ff;
$color-dark-blue: #5643fa;

$color-black: black;
$color-white: white;

$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

//GRID
$grid-width: 115rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//FONT
$default-font-size: 1.6rem;

//SKEW
$main-skew: 6deg;