.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: transform .2s, box-shadow .2s;
    position: relative;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &--white {
    background-color: white;
    color: $color-dark-grey;

    &::after {
      background-color: white;
      color: $color-dark-grey;
    }
  }

  &--green {
    background-color: $color-medium-green;
    color: $color-white;

    &::after {
      background-color: $color-medium-green;
      color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .4s, opacity .4s
  }

  &--fade-in {
    animation: fadeInBottom 1s .75s ease-in backwards;
  }
}

.btn-text {
  &:link, &:visited {
    font-size: 1.6rem;
    color: $color-medium-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $color-medium-green;
    transition: all .2s
  }

  &:hover {
    background-color: $color-medium-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-.2rem);
  }

  &:active{
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(0);
  }

}