.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;

    &--front {

    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange);
      }

      &--2 {
        background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green);
      }

      &--3 {
        background-image: linear-gradient(to right bottom, $color-light-blue, $color-dark-blue);
      }
    }
  }

  &:hover &__side--front {
     transform: rotateY(-180deg);
   }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1{
      background-image: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange), url("../img/nat-5.jpg");
    }

    &--2{
      background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green), url("../img/nat-6.jpg");
    }

    &--3{
      background-image: linear-gradient(to right bottom, $color-light-blue, $color-dark-blue), url("../img/nat-7.jpg");
    }


  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%;
  }

  &__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-light-orange, .85), rgba($color-dark-orange, .85))
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-light-green, .85), rgba($color-dark-green, .85))
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-light-blue, .85), rgba($color-dark-blue, .85))
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-light-grey-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}