.feature-box {
  background-color: rgba($color-light-grey-1, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

  transition: transform .5s;

  @include responsive(tab-port) {
    padding: 2rem;
  }

  &:hover {
    transform: translateY(-2rem) scale(1.1);
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to bottom right, $color-light-green, $color-dark-green);
    -webkit-background-clip: text;
    color: transparent;
  }

}