.form {

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: .3rem;
    background-color: rgba($color-white, .5);
    border: none;
    width: 90%;
    display: block;
    border-bottom: .3rem solid transparent;
    transition: all .3s;

    &::placeholder {
      color: $color-dark-grey-2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: .3rem solid $color-dark-green;
    }

    &:focus:invalid {
      border-bottom: .3rem solid $color-dark-orange;
    }

  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 40%;
    display: inline-block;

    @include responsive(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button{
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-dark-green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &::after {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-dark-green;
      opacity: 0;
      transition: opacity .5s;
    }
  }

  &__radio-input {
    display:none;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}