.photo-group {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    outline-offset: 2rem;

    @include responsive(tab-port) {
      float: left;
      position: relative;
      width: 33.33333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

    &:hover {
      transform: scale(1.1) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;

      outline: 1.5rem solid $color-medium-green;
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include responsive(tab-port){
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include responsive(tab-port){
        top: 0;
        transform: scale(1.3);
        z-index: 19;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include responsive(tab-port){
        top: 0;
        left: 0;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}