.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      cursor: pointer;
      color: $color-dark-grey-3;
      position: absolute;
      top: 2.5rem;
      right: 3rem;
      font-size: 3rem;
      text-decoration: none;
      line-height: 1;
    }
  }

  &__content {
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    border-radius: .3rem;
    display: table;
    overflow: hidden;
    transition: all .5s .2s;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__left{
    width: 33.333333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-light-grey-2;
    hyphens: auto;
  }
}