.section-about {
  background-color: $color-light-grey-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include responsive(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-light-green, 0.8),
                  rgba($color-dark-green, 0.8)),
  url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -10rem;

  transform: skewY(- $main-skew);

  & > * {
    transform: skewY($main-skew);
  }

  @include responsive(tab-port) {
    padding: 10rem 0;
  }

}

.section-tours {
  background-color: $color-light-grey-1;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;

  @include responsive(tab-port) {
    padding: 20rem 0 5rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;

  @include responsive(tab-port) {
    padding: 20rem 0 5rem 0;
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-light-green, $color-dark-green);

  @include responsive(tab-port) {
    padding: 10rem 0;
  }
}

.booking {
  background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include responsive(tab-land) {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 70%, transparent 70%), url("../img/nat-10.jpg");
  }

  @include responsive(tab-port) {
    background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 70%, transparent 70%), url("../img/nat-10.jpg");
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include responsive(tab-land) {
      width: 70%;
    }

  }
}