.footer {
  background-color: $color-dark-grey-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include responsive(tab-land) {
    padding: 10rem 10rem;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 75%);
  }

  &__navigation {
    border-top: 1px solid $color-dark-grey;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child){
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      background-color: $color-dark-grey-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
      color: $color-light-grey-1;

    }

    &:hover,
    &:active {
      color: $color-dark-green;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      transform: rotate(5deg) scale(1.3);
    }

  }

  &__copyright {
    color: $color-light-grey-1;
    border-top: 1px solid $color-dark-grey;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;
  }

}