*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responsive(big-desktop){
    font-size: 75%;
  }

  @include responsive(tab-land){
    font-size: 56.25%;
  }

  @include responsive(tab-port){
    font-size: 50%;
  }

}

body {
  box-sizing: border-box;
}