body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-grey;
  font-size: $default-font-size;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;



  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: fadeInLeft 1s ease-out;
    margin-left: 1.5rem;

    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    animation: fadeInRight 1s ease-out;

    @include responsive(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-light-green, $color-dark-green);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  @include responsive(tab-port) {
    font-size: 3rem;
  }

  @include responsive(phone) {
    font-size: 2.5rem;
  }

  &:hover{
    transform: skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-third {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}