.sidebar{
  position: relative;
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.nav-btn {
  border-radius: 0;
  border: none;

  position: fixed;
  left: 1.4rem;

  background-color: white;
  height: .2rem;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    height: .2rem;
    width: 4.5rem;
    content: "";
    display: block;
    background-color: white;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.5rem);
  }

  @media only screen and (max-width: $bp-large) {
    position: absolute;
    right: 1rem;
    top: -1rem;
  }
}